$background-color: #222426;
$input-text-color: #f1ffd0;

html,
body {
  background-color: $background-color;
  height: 100%;
  overflow: hidden;
}

div#root {
  background-color: $background-color;
  font-family: "Open Sans", sans-serif;
  color: white;
  height: 100%;
  display: grid;
  grid-template-areas: "output" "input";
  grid-template-rows: 1fr;

  div#output {
    grid-area: output;
    overflow-y: auto;
    padding: 0.5em;
    line-height: 1.4em;
  }

  div#input {
    grid-area: input;
    border-top: 2px solid darkorange;
    padding: 0.5em;

    label {
      display: none;
    }

    textarea#command {
      width: 100%;
      resize: none;
      outline: none;
      border: none;
      color: $input-text-color;
      background-color: $background-color;
    }
  }
}
