.form {
  width: 100%;
  height: 100%;
  display: flex;
  grid-column: 2;
}

.messageBox {
  border: 0;
  flex-grow: 1;
  padding: 0.5em 0.75em;
  outline: none;
}

.sendButton {
  padding: 0.5em 0.75em;
}

.eventsDiv {
  padding: 0.5em 0.75em;
  color: white;
  font-family: sans-serif;

  .command {
    font-style: italic;
    color: lightblue;
  }
}

.importantOverflowY {
  overflow-y: auto !important;
}
