$background-color: #222426;
$input-text-color: #f1ffd0;

body {
  background-color: $background-color;
}

div#root {
  height: 100%;
  width: 100%;
  color: white;
  font-family: "Open Sans", sans-serif;
}

div#output {
  min-height: 100vh;
  margin: 0 auto;
  padding: 16px 1em 5em;
}

div#input {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  label {
    display: none;
  }

  textarea#command {
    flex: 1;
    max-height: 50vh;
    resize: none;
    padding: 5px 10px;
    border: none;
    border-top: 2px solid darkorange;
    color: $input-text-color;
    background-color: $background-color;
  }
}
